body{
    margin-top: 50px;
    background: black;
    display: block;
    overflow: auto;
    height: 100%;
  }

  h1{
    color: steelblue;
    font-style: italic;
  }

  h2{
    color: steelblue;
    padding-top: 8px;
    text-align: center;
  }
  h5{
    color: white;
    font-weight: bold;
  }
  p{
    color: white;
    padding: 0px 10px;
    text-align: center;
  }

  #parametersDropdown{
    text-align:center;
  }

  #parametersMenu{
    display:inline-block;
    margin-left: 15px;
    position: relative;
  }

  .centered {
    margin: 0px auto;
    text-align: center;
  }
  .chart{
    background: white;
    width: 900px;
    height: 620px;
    box-shadow: 0px 0px 20px #000;
  }
  .graph{
    text-align: center;
  }
  .graph rect {
    fill: steelblue;
  }
  .graph rect:hover {
    fill-opacity: 0.8;
  }
  
  .axis text {
    font: 12px sans-serif;
    fill: white;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  div.tooltip {   
    position: absolute;           
    text-align: center; 
    padding: 5px;
    width: 150px;                  
    height: 55px;                        
    font: 12px sans-serif;        
    background: grey;
    color: black;
    border: 0px;      
    border-radius: 4px;           
    pointer-events: none;         
  }

  #loader {
  border: 16px solid steelblue; 
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  text-align:center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  