
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">ChEMBL Heatmap Visualization</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="nav nav_tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#nav-display" role="tab" aria-controls="nav-display" aria-selected="false">Display</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </head>

  <body style="padding-top: 100px;">
    <link rel="stylesheet" href="../static/heatmap.css">
    <!--
    <main role="main" class="container">
    
      <div class="starter-template">
       
      </div>
    
    </main> 
    --><!--/.container -->
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"> 
        <h1>What is ChEMBL Heatmap Visualization ?</h1>
        <p class="lead">It's a tool implemented as part of a technical test and that allows to visualize activities of chEMBL targets.</p>
      </div>
      <div class="tab-pane" id="nav-display" role="tabpanel" aria-labelledby="nav-display-tab">
        <h2>Heatmap of activities</h2>
        <div id="heatmap-display" class="graph"></div>
        <script src="../static/heatmap.js"></script>
      </div>
      <div class="tab-pane" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <h2>Additional Informations</h2>
        Please refer to the <a href="https://github.com/ElieSol/ChEMBL_Heatmap_Visu">GitHub repository of the project</a> for additional information.
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    
  </body>
  
</html>
